@import url("https://fonts.googleapis.com/css?family=Roboto|Montserrat");

$color: #333;
$color2: rgb(48, 63, 159);

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hero {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color;
  h1 {
    margin: 0;
    width: 100%;
    line-height: 1.15;
    font-size: 48px;
    text-align: center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    letter-spacing: 1em;
    margin-left: 1em;
  }
  .row {
    max-width: 880px;
    margin: 80px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .card {
    margin: 0 1em;
    padding: 18px 18px 24px;
    width: 220px;
    text-align: left;
    text-decoration: none;
    color: $color;
    border: 1px solid $color;
    h3 {
      margin: 0;
      color: $color2;
      font-size: 18px;
    }
    p {
      margin: 0;
      padding: 12px 0 0;
      font-size: 13px;
      color: $color;
    }
    &:hover {
      transition: 0.2s;
      border-color: $color2;
      cursor: pointer;
    }
  }
  form {
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 4em;
    -webkit-box-shadow: 3px 3px 10px 1px rgba(148,148,148,1);
    -moz-box-shadow: 3px 3px 10px 1px rgba(148,148,148,1);
    box-shadow: 3px 3px 10px 1px rgba(148,148,148,1);
    input {
      border-color: $color2;
      width: 200%;
    }
    h4 {
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-size: 22px;
    }
    .button {
      background-color: $color2;
      color: whitesmoke;
      transition: all 0.2s;
      margin-top: 2em;
      width: 50%;
      &:hover {
        background-color: lighten($color2, 10%);
      }
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 50px;
  background: rgba($color2, 0.9);
  -webkit-box-shadow: 3px 3px 10px 1px rgba(148,148,148,1);
  -moz-box-shadow: 3px 3px 10px 1px rgba(148,148,148,1);
  box-shadow: 3px 3px 10px 1px rgba(148,148,148,1);
  p {
    color: whitesmoke;
    letter-spacing: 3px;
    float: left;
    font-size: 18px;
    cursor: pointer;
  }
  ul {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    li {
      padding: 0 1em;
      a {
        color: whitesmoke;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
